@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');
:root{
	--main-color:hsl(257,68%,73%);
	--light-red:hsl(0,67%,71%);
	--light-yellow:hsl(42,73%,74%);
	--black-90:hsl(0,0%,10%);
	--black-70:hsl(0,0%,30%);
	--white:hsl(0,0%,100%);
	--white-alpha-40:hsla(0,0%,100%,0.4);
	--white-alpha-50:hsla(0,0%,100%,0.5);
	--body-bg-color:hsl(42,71%,87%);
	--border-color-1:hsl(42,45%,73%);
	--border-color-2:hsl(44,45%,73%,0.4);
	--shadow-color:hsl(42,45%,73%);
}
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	
}

::before,
::after{
	box-sizing: border-box;

}

body{

	font-family: 'Poppins', sans-serif;
	font-weight: 300!important;
	font-size: 16px!important;
	background-color: var(--body-bg-color)!important;
	color: var(--black-70)!important;
	overflow-x: hidden;
	line-height: 1.5!important;
	-webkit-top-highlight-color:transparent;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.2!important;
	color: var(--black-90);
}
h3{
	font-size: 20px;
	font-weight: 500;
}
a{
	text-decoration: none;
	color: var(--main-color)!important;

}
.row{
	--cols:12;
	display: grid;
	
}
.container{
	max-width: 1170px!important;
	/*background-color: red!important;*/
	margin: auto;
	padding: 0 15px;
}
.home{
	
	padding: 180px 0 80px!important;
	position: relative;
	z-index: 1;
	overflow: hidden;

}
.home::before{
	content: '';
	position: absolute;left: 0;
	top: 0;
	height: 200px;
	width: 200px;
	background-color: var(--main-color);
	border-radius: 50%;
	z-index: -1;
	transform: translate(-50%,-50%);
}

img{
	max-width: 100%;
	vertical-align: middle;
}
::selection{
	color: var(--white);
	background-color: var(--main-color);
}
.home-img,
.home-text{
	
	align-self: center;
}
.home-text h1{
	font-size: 50px!important;
	text-transform: capitalize;
	font-weight: bold;
	margin: 0 0 25px;
}
.fancy-br-bx{
	height: 400px;
	width: 400px;
	margin: auto;
	position: relative;
	z-index: 1;
}
.fancy-br-bx::before{
	content: '';
	position: absolute;left: 0;
	top: 0;height: 100%;
	width: 100%;
	border-radius: 50% 40% / 40% 50%;
	z-index: 1;
	transform: rotate(150deg);
}
.fancy-br-bx > img{
	border-radius: 30% 70% 50% 50% /50%;
}
.home-img .fancy-br-bx{
	border-color: var(--light-red)!important;
}

.home-img .icon-box img{
	width: 100px;
}


.home-text p{
	margin: 0 0 30px;
}
.btn{
	
	display: inline-block;padding: 10px 28px;
	background-color: var(--main-color)!important;
	color: var(--white)!important;
	border-radius: 50px!important;
	font-weight: 500;
	font-size:  1.2rem!important;
	text-transform: capitalize;
	line-height: 1.5;
	font-family: inherit;
	border:none;
	vertical-align: middle;
	user-select: none;
}

.section-padding{
	padding: 60px 0;
}
.section-title {
	text-align: center;
	margin-bottom: 40px;
}
.section-title .title{
	font-size: 18px;
	font-weight: 500;
	text-transform:uppercase;
	color: var(--main-color);
	margin: 0 0 8px;
}
.section-title .sub-title{
	font-size: 40px;
	font-weight: 600;
	color: var(--black-90);
	text-transform: capitalize;
	line-height: 1.2;
}


.about-img .fancy-br-bx::before{
	border-color: var(--light-yellow)!important;
}
.about-img .icon-box img{
	width: 100px;
}
.about{
	overflow: hidden;
}

.about-text{
	float: right;
	margin-right:-389%;
	margin-top:-371px;
}
.about-text h3{
	margin: 15px 0;
}
ul{
	list-style: none;
}
.about-text ul li{
	margin-bottom: 6px;
	position: relative;
	padding-left: 30px;

}
.about-text ul i{
	color: var(--main-color);
	position: absolute;
	left: 0;
	top: 5px;
}
.service-item{
	grid-column: span 6;
	background-color: var(--white-alpha-40);
	padding: 6px;
	border-radius: 10px;
	display: flex;
	margin-bottom: 32px;
	align-items: flex-start;
	box-shadow: 0 0 10px var(--shadow-color)!important;
}
.service-item .img-box{
	width: 120px;
	flex-shrink: 0;
	border-radius: 20px;
	border: 1px solid var(--border-color-1)!important;
}
img{
	max-width: 72%;
	vertical-align: middle;
	margin: 18px;
	border-radius: 20px;
}
.text{
	padding-left: 34px;
	margin-top: 21px;
}
.service-item h3{
	text-transform: capitalize;
	margin: 0 0 15px;
}
.fun-fact{
	padding: 40px 0;
	
}
.fun-fact-item{
	
	grid-column: span 3;
	margin: 40px 0;
	text-align: center;

}
.fun-fact-item .box{
	
	height: 160px;
	width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	background-color: #cd3f824a;
	border-radius: 50%;
	font-weight: bold;

}
.fun-fact-item .box::before,
.fun-fact-item .box::after,{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 20%;

}
.fun-fact-item .box::before{
	transform: rotate(22deg);
	opacity: 0.3;
	z-index: -2;
}

.fun-fact-item .box::after{
	transform: rotate(45deg);
	opacity: 0.5;
	z-index: -1;
}
.fun-fact-item h2{
	font-size: 49px;
	font-weight: bold;
}
.fun-fact-item p{
	text-transform: capitalize;
}
.pricing-item{
	grid-column: span 4;
	background-color: var(--white-alpha-40);
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px var(--shadow-color);

	font-size: 20px;
}
.pricing-header .price{
	font-size: 35px;
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-top: 10px;
	border-bottom: 1px solid var(--border-color-1);
	padding-bottom: 5px;

}
.pricing-header h3{
	font-size: 24px;
	text-transform: capitalize;
	font-weight: bold;
	position: relative;
	overflow: hidden;
}
.pricing-header h3::before{
	content:attr(data-text);
	position: absolute;left: 0;
	bottom: 100%;
	transition: transform 0.5s ease;

}

.pricing-1 .pricing-header .price,
.pricing-1 .pricing-header h3::before{
	color: var(--light-red)!important;
}
.pricing-2 .pricing-header .price,
.pricing-2 .pricing-header h3::before{
	color: var(--main-color);
}
.pricing-3 .pricing-header .price,
.pricing-3 .pricing-header h3::before{
	color: var(--light-yellow);
}
.pricing-header h3 span{
	display: block;
	transition: transform 0.5s ease;
}
.pricing-item:hover .pricing-header h3 span,
.pricing-item:hover .pricing-header h3::before{
	transform: translateY(100%);
}
.pricing-header .price span{
	font-size: 16px;
	margin-left: 10px;
	font-weight: 300;
}
.pricing-body{
	padding: 15px 0 20px;
}
.pricing-body li{
	margin-bottom: 6px;
	position: relative;
	padding-left: 25px;
}
.pricing-body i{
	position: absolute;
	left: 0;
	top: 5px;
}
.icon-1{
	color: var(--light-red)!important;
}
.icon-2{
	color: var(--main-color);
}
.icon-3{
	color: var(--light-yellow);
}
.pricing-footer{
	border-top: 1px solid var(--border-color-1);
	padding-top: 20px;
}
.pricing-1 .pricing-footer .btn{
	background-color: var(--light-red)!important;
}
.pricing-2 .pricing-footer .btn{
	background-color: var(--main-color)!important;
}
.pricing-3 .pricing-footer .btn{
	background-color: var(--light-yellow)!important;
}
.contact-details,
.contact-form{
	grid-column: span 6;

}
.Contact .section-title{
	text-align: left;
	margin-bottom: 15px;
}
.contact-details .text-1{
	margin-bottom: 40px;
}
.contact-info-item{
position: relative;
margin-bottom: 10px;
padding-left: 30px;

}
.contact-info-item i{
position: absolute;
left: 0;
top: 7px;
font-size: 14px;
}
.contact-details .social-links{
	margin-top: 25px;
}
.contact-details .social-links a{
	height: 35px;
	width: 35px;
	color: var(--main-color);
	display: inline-flex;
	border: 1px solid var(--main-color);
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 5px;
	transition: color 0.3s ease;
	position: relative;
}
.contact-details .social-links a:hover{
	color: var(--white)!important;
}
.contact-details .social-links a::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--main-color);
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: transform 0.3s ease;
}
.contact-details .social-links a:hover::before{
	transform: scale(1);
}
.contact-form .icon-box{
	width: 120px;

}
.contact-box{
	background-color: var(--white-alpha-40)!important;
	padding: 50px;
	border-radius: 30px;
	box-shadow: 0 0 10px var(shadow-color);
	margin-top: 7px;
}
.input-box{
	margin-bottom: 20px;
}
.input-control{
	display: block;
	width: 100%;
	height: 42px;
	background-color: transparent;
	border:none;
	font-size: 16px;
	font-family: inherit;
	border-bottom: 1px solid var(--border-color-1)!important;
	color: var(--black-90)!important;
}
textarea.input-control{
	height: 120px;
	resize: none;
}
.footer-top{
	padding: 60px 0;
	border-top: 1px solid var(--border-color-2);
}
.footer-item{
	grid-column: span 4;
}
.footer-item h3{
	text-transform: capitalize;
	margin: 0 0 15px;
}
.footer ul a{
	display: inline-block;
	color: var(--black-70);
	text-transform: capitalize;
	transition: color 0.3s ease;
	text-decoration: none;
}
.footer ul li{
	margin-bottom: 6px;
}

.footer ul a:hover{
	color: var(--main-color);
}
.footer-bootom
{
	border-top: 1px solid var(--border-color-2);
	padding: 20px 0;
	text-align: center;
}
.footer{
position: relative;
z-index: 1
overflow:hidden;
}
.header{
	
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2!important;
	padding:8px 0;
	height: 67px;
}
.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.logo img{
	width: 32px;
	margin-right: 7px;
}
.logo a{
	font-size: 28px;
	text-transform: capitalize;
	font-weight: 600;
	color: var(--black-90)!important;
	text-decoration: none!important;
}
.nav-toggler{
	height: 34px!important;
width: 40px!important;
border:none;
}
.nav-toggler span{
	display: block;
	height: 2px;
	width: 24px;
	background-color: var(--black-90)!important;
	margin: auto;
	position: relative;
	transition: background-color 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;

}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black-90);
	/*transition: top 0.2s ease 0.2s, transform 0.2s ease; */


}
.nav-toggler span::before{
	top: -7px;
}
.nav-toggler span::after{
	top: 7px;
}
.nav-toggler.active span::before,
.nav-toggler.active span::after{
	top: 0;
	transition-delay: 0s,0.2s;
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler.active span::after{
	transform: rotate(-45deg);
}
.nav{

position: absolute;
right: 0;
top: 100%;
margin-top: 8px;
visibility: hidden;

}
.nav.active{
	visibility: visible!important;
}
.nav li{
	background-color: var(--white-alpha-40);
	text-align: center;
	transform: translateY(20px);
}
.nav a{
	display: block;
	text-decoration:none;
	padding: 8px 30px ;
	font-weight: 500;
	color: var(--black-90)!important;
	text-transform: capitalize;
	position: relative;
}
.nav li:first-child{
	border-radius: 10px 10px 0 0;
}
.nav li:last-child{
	border-radius:  0 0 10px 10px;
}
